@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@200;300;400&display=swap');

//FONTS
$headerFont: 'Indie Flower', cursive;
$textFont: 'Inter', sans-serif;

//COLORS
$Yellow: #EFD67F;
$Blue: #5A95B6;
$Black: #1E1E1E;