@import "../../GlobalStyle.scss";

.toDo {
  max-width: 543px;
  height: 100vh;

  img {
    width: 100%;
  }
  button {
    background-color: $Yellow;
    border: none;
    height: 30px;
    width: 30px;
  }

  .theList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    p {
      border-bottom: black 1px solid;
    }
  }
  .inputAndAdd {
    input {
      background-color: $Yellow;
    }
  }
}
